#calculadora {
    width: auto;
    height: 500px;
    top: 100;
    margin: 0 35%;
    position: relative;
    background: #252428;
    border-radius: 25px;
    padding-bottom: 15px;
}

#teclado {
    position: absolute;
    height: 250px;
    width: 100%;
    background: #232938;
    border-radius: 25px;
    color: white;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto ;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.grid-container>div {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #8A97BB
}

.equal{
    grid-area: 3 / 5 / 5 / 6;
}

.division{
    border-radius: 50%;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}
.btn-equal{
    border-radius: 40px;
    height: 100%;
    width: 50%;
    background: linear-gradient(180deg, #77F8D9 0%, #50DCCB 100%);
    color: #374057;
}
.btn-plus, .btn-subtraction, .btn-multiplication, .btn-division{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    text-align: center;

}

.btn-delete{
    background: #CD2C58;
    width: 48px;
    height: 48px;
    border-radius: 40px;
    position: absolute;
    left: 28px;

}

button{
    text-align: center;
    border:none;
    font-size: 25px;
    line-height: 38px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    background: #333b4d;
    color: #8A97BB;

}
